<div class="comment-container">
    <div class="comment container medium">  
        <div id="isso-thread" data-title="{{title}}"></section>
		<noscript>Your browser does not support JavaScript. That's totally okay, except it means the comments section below this post is not visible.</noscript>
    </div>
</div> 